<!doctype html>
<html>
  <head>
    <title>Bugsnag: Vue.js Example</title>
    <script src="https://unpkg.com/vue"></script>
    <!-- load bugsnag with a two simple script tags -->
    <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
    <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-plugins/v1/bugsnag-vue.min.js"></script>
  </head>
  <style>
    body {
      font-family: 'Menlo', monospace; line-height: 1.7;
      color: #444; background-color: #fafafa;
      max-width: 600px; margin: 0 auto; padding: 20px;
    }
  </style>
  <body>
    <h1>Bugsnag: Vue.js plugin example</h1>
    <p>This page is a basic example of how to include vue on a page via a
      <code>&lt;script&gt;</code> tag.
    </p>

    <!-- The HTML structure for this very basic Vue.js app -->
    <div id="app">
      <p>
        <button v-on:click="triggerRenderError">Throw an error during component render()</button>
        <span v-if="doARenderError">{{ doARenderError.non.existent.property }}</span>
      </p>
      <bad-button></bad-button>
      <p>
        <button v-on:click="triggerNextTickError">Throw an error during Vue.nextTick()</button>
      </p>
      <p>
        <button v-on:click="triggerWatchError">Trigger a handled watch error</button>
      </p>
    </div>

    <!-- A component that will trigger a render() error when clicked -->
    <script type="text/x-template" id="bad-button-template">
      <p>
        <button v-on:click="triggerRenderError">Throw an error during component render() (child component)</button>
        <span v-if="doARenderError">{{ doARenderError.non.existent.property }}</span>
      </p>
    </script>
    <!-- in app.js you'll find further syntax and configuration examples. -->
    <script src="app.js"></script>
  </body>
</html>
